/*  公共样式的CSS文件 */


/* 因为所有的样式都具有相同的导航栏，写在 public 公共的样式 */

header {
    width: 1200px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    background-color: #fff;
    /* overflow: hidden; */
}

header .logo {
    width: 140px;
    height: 40px;
    /* 200px logo左边的距离 */
    margin: 20px 200px 0 0;
    float: left;
}


/* nav 部分 */

.header .nav {
    float: left;
    /* 清除nav里边的浮动 */
    overflow: hidden;
}

header .nav li {
    float: left;
    /* width: 125px; */
    margin-right: 56px;
    font-size: 16px;
}


/* 添加下划线*/

.nav-active,
header .nav li:hover {
    content: '';
    display: block;
    border-bottom: 4px solid #01a1ff;
}


/*  a标签字体的颜色*/

header .nav li a {
    color: #333333;
}


/* 默认active 被点击, a的字体颜色 */

header .nav li .active {
    color: #01a1ff;
}

header .nav li:hover a {
    color: #01a1ff;
}


/* language 部分 */

header .language {
    float: right;
    overflow: hidden;
}

header .language li {
    float: left;
    width: 47px;
    height: 50px;
    /*  边框透明 */
    border: 1px solid transparent;
    line-height: 50px;
    text-align: center;
    margin-top: 15px;
}

header .language li:first-child {
    border: 1px solid #ccc;
}

header .language li:hover {
    border: 1px solid #ccc;
}


/* banner 部分 */

.banner {
    width: 100%;
    height: 400px;
    /* 给出定位 */
    position: relative;
    overflow: hidden;
}


/* 轮播图部分 */

.banner .imgs {
    /* 多张图的宽度 */
    width: 1000%;
    position: absolute;
}

.banner li {
    float: left;
}

.banner img {
    /* 图片大小 */
    width: 100%;
    height: 400px;
    cursor: default;
}


/* 控制器 */

.prev,
.next {
    position: absolute;
    top: 184px;
    width: 32px;
    height: 32px;
    z-index: 10;
    cursor: pointer;
}

.prev {
    background: url("../home/image/index-xb2.png") no-repeat;
    left: 40px;
}

.prev:hover {
    background: url("../home/image/index-xb4.png") no-repeat;
    left: 40px;
}

.next {
    background: url("../home/image/index-xb1.png") no-repeat;
    right: 40px;
}

.next:hover {
    background: url("../home/image/index-xb3.png") no-repeat;
    right: 40px;
}


/* 计数器 */

.banner .count {
    width: 100%;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -22.5px;
}

.banner .count li {
    float: left;
    width: 10px;
    height: 10px;
    background-color: #000;
    opacity: .4;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.banner .count .on {
    background-color: #01a1ff;
    opacity: 1;
}


/*  title 部分 */

.title {
    font-size: 34px;
    font-family: 'Franklin Gothic Medium';
    /* 字母全部大写 */
    text-transform: uppercase;
    text-align: center;
    /* 定位 */
    position: relative;
    margin-bottom: 44px;
}

.title:after {
    /* 设置 title 下边的下划线 */
    content: '';
    display: block;
    width: 42px;
    border-bottom: 4px solid #01a1ff;
    position: absolute;
    left: 50%;
    margin-left: -21px;
    bottom: -3px;
}


/* 首页 p 标签 */

.index-p {
    width: 1200px;
    font-family: 微软雅黑;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
}


/* 公共样式侧边栏  */

aside {
    width: 200px;
    /* 左浮动 */
    float: left;
    margin-right: 45px;
    border: 1px solid #01a1ff;
}

aside .aside-title {
    /* 蓝色边框 */
    padding: 30px 0 24px;
    background-color: #01a1ff;
    text-align: center;
    color: #fff;
}

aside .aside-title .title {
    /* 盒子下边距 */
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 26px;
}

aside .aside-title p {
    font-size: 14px;
}

aside .aside-title .title:after {
    border-color: #fff;
}


/* about-title 侧边 nav  */

aside .aside-nav {
    padding: 9px 14px 9px;
    font-size: 18px;
}

aside .aside-nav li {
    width: 172px;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 20px;
}

aside .aside-nav li:last-child {
    margin-bottom: 0;
}

aside .aside-nav li:hover {
    background-color: #01a1ff;
    border-radius: 15px;
}

aside .aside-nav li:hover a {
    color: #fff;
}

aside .aside-nav li a {
    color: #666;
}

aside .aside-nav li i {
    font-weight: bold;
    margin-right: 3px;
}

aside .aside-nav .aside-active {
    /* active  */
    background-color: #01a1ff;
    border-radius: 15px;
}

.aside-active a {
    color: #fff !important;
}

.aside {
    float: left;
}

.aside aside {
    /* 清除浮动 */
    clear: both;
}

.aside aside:first-child {
    margin-bottom: 40px;
}


/* 产品 search 框 */

.aside .search {
    position: relative;
    overflow: hidden;
}

.aside .search input {
    width: 137px;
    height: 36px;
    display: block;
    margin: 9px 13px;
    padding: 0 25px 0 10px;
    color: #333333;
    border: 1px solid #01a1ff;
}

.aside .search span {
    color: #01a1ff;
    position: absolute;
    right: 16px;
    top: 23px;
}


/* content-title 右边栏 公共样式部分  标题描述 */

.content-title {
    padding: 0 18px 10px 0;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
    overflow: hidden;
}

.content-title h3 {
    float: left;
    margin-left: 20px;
    padding: 8px;
    font-size: 28px;
    color: #333;
    border-left: 3px solid #01a1ff;
}

.content-title h3 span {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
}

.content-title .crumbs-nav {
    float: right;
    color: #999;
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 17px;
}

.content-title .crumbs-nav a {
    color: #999;
}

.content-title .crumbs-nav span {
    color: #01a1ff;
}


/*  footer 部分 */

footer {
    width: 100%;
    background-color: #01a1ff;
}

.footer {
    width: 100%;
    border-bottom: 1px solid #fff;
}

footer a {
    color: #fff;
}

.footer-content {
    /* 版心宽度 */
    width: 1200px;
    /* 盒子居中 */
    margin: 0 auto;
    /* 上下距离 */
    padding: 50px 0;
    /* 清除浮动 */
    overflow: hidden;
}

.footer .footer-nav {
    float: left;
}

.footer .footer-nav dl {
    /* dl 下的浮动 */
    float: left;
    /* 往左偏移 100px 拉开距离 */
    margin-right: 100px;
}

.footer .footer-nav dl:last-child {
    /* 去除最后一组没有偏移 */
    margin-right: 0;
}

.footer .footer-nav dl dt {
    /* 列表标题 */
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.footer .footer-nav dl dd {
    font-size: 12px;
    /* 列表元素边距 */
    padding-top: 20px;
}


/* 右边表单 */

.footer .footer-concat {
    float: right;
}

.footer .footer-concat input {
    width: 134px;
    height: 30px;
    outline: none;
    border: 1px solid #fff;
    background-color: #01a1ff;
    color: #fff;
    padding: 0 5px;
}

.footer .footer-concat textarea {
    /* display: block; */
    width: 302px;
    height: 95px;
    outline: none;
    border: 1px solid #fff;
    background-color: #01a1ff;
    color: #fff;
    padding: 5px;
    margin: 10px 0;
}

.footer .footer-concat input:first-child {
    margin-right: 17px;
}

.footer .footer-concat input::placeholder,
.footer .footer-concat textarea::placeholder {
    /* 修改表单字体颜色 */
    color: #fff;
}

.footer .footer-concat input[type=button] {
    width: 110px;
    height: 30px;
}

footer .copyright {
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 12px;
}


/*banner*/

.banner img.banner-img {
    width: 100%;
    height: 400px;
}


/*container*/


/*  news 新闻部分  */

.container {
    width: 1218px;
    margin: 60px auto 90px;
    overflow: hidden;
}

.container-content {
    width: 953px;
    float: left;
}

.pages {
    position: relative;
    left: 287px;
}

.pages li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #e5e5e5;
    text-align: center;
    color: #999999;
}

.pages li:nth-child(2),
.pages li:hover {
    background-color: #01a1ff;
    color: #fff;
}

.pages li:first-child,
.pages li:last-child {
    width: 92px;
}