.product-imgs {
    padding: 40px 20px 27px;
    /* 响应式布局 */
    display: flex;
    /* 自动换行 */
    flex-wrap: wrap;
    /*     justify-content: space-around;  所有子元素等分空白区域 （重要） */
    justify-content: space-around;
}

.product-imgs li {
    /* flex 指定弹性子元素如何分配空间  **应用于子元素** 
       flex:  比例   收缩比例   基本宽度(第三个参数必须具有数值)  */
    flex: 0 0 280px;
    margin-bottom: 40px;
    /* 定位 */
    position: relative;
}

.product-imgs li a {
    font-size: 14px;
    color: #ffffff;
}

.product-imgs li .pro-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    /* 块级 */
    display: block;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    position: absolute;
    /* 陷入图片里  */
    bottom: 0;
}

.product-imgs li:hover {
    /* box-shadow 边框阴影
    `  box-shadow `: 水平偏移  垂直偏移  [模糊度]  [阴影的尺寸]  [颜色]   [inset] ;  */
    box-shadow: 2px 2px 3px #01a1ff, -2px -2px 3px #01a1ff;
}

.product-imgs li:hover .pro-title {
    background-color: #01a1ff;
    /* opacity 不通明度 */
    opacity: 1;
}